/* Color de fondo */
body {
    background-color: #689b5a; /* Cambia #e0e0e0 al color que desees */
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
}

/* Estilos para la barra de navegación */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 2;
    background-color: #89bc7a; /* Color de fondo de la barra */
    overflow: hidden;
}
li.navitem {
    float: left;
}
li.navitem a {
    display: block;
    color: white; /* Color del texto de los enlaces */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.navitem a:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse por encima */
    color: black; /* Color del texto al pasar el mouse por encima */
}

/* barra negra */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
}

/* Pie de pagina*/
footer {
    text-align: center;
    background-color: #7fbf6d;
    color: white;
    padding: 0px;
    position:relative ;
    bottom: 0;
    width: 100%;
}
footer p{
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}
a {
    color: white; /* Cambia el color de todos los enlaces a blanco */
    text-decoration: none; /* Quita la subraya predeterminada en los enlaces */
}

/* Estilo para el fondo blanco de la tabla */
table {
    background-color: white;
}
